<h1>About</h1>

<p>This is under construction by me, Josh:</p>

<ul>
  <li><%= link_to "@josh_works (twitter)", "https://twitter.com/josh_works" %></li>
  <li><%= link_to "@josh.works (instagram)", "https://www.instagram.com/josh.works/" %></li>
  <li><%= link_to "https://josh.works/", "https://josh.works/" %></li>
</ul>
