<h1>Strava App</h1>
<p>
  this is gonna be a clone of <a href="https://josh-strava-heatmap.herokuapp.com/">this strava maps app</a>
</p>

<div class="">
  <%= image_tag "strava_screenshot.jpg", height: 500 %>
</div>
